
.main-footer {
    background-color: #1e293b;
    color: white;
    padding: 40px 20px;
    font-weight: bold;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 12px;
}

.group-members {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
}

.footer-hr {
    border: 0;
    border-top: 1px solid #334155;
    margin: 20px 0;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
    color: crimson;
}